@media (max-width: 1200px) {
  .menu__item {
    justify-content: center;
    flex-direction: row;
    max-width: 1200px;
    flex-wrap: wrap
  }



  .menu__item__small {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
  }

  .food__item__small {
    flex-direction: column
  }

  .aboutus__cont, .aboutus__cont_rev {
    flex-direction: column;
    justify-content: center
  }

  .aboutus__title__img {
    margin: auto
  }

  .aboutus__info {
    max-width: 100%
  }
}

@media (max-width: 1170px) {
  .search__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px
  }
    #magnifier, #magnifiermain{
    display: none;
  }


  input[type=text], select {
    width: 88%;
    padding: 12px 21px;
    resize: vertical;
    border: none
  }

  #rest {
    width: 89%
  }

  .d2 img {
    padding: 0
  }

  .btn_search {
    display: none
  }

  .magnifier {
    display: none
  }

  .btn_magnifier {
    display: inline;
    width: 46px!important;
    border-radius: 40px!important
  }

  .d2 {
    margin-right: 20px
  }

  .search__btn {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0 15px;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center
  }

  .btn_time, .btn_info, .btn_book, .btn_filters {
    margin-top: 20px
  }

  .btn__rest {
    padding-left: 0
  }

  .delivery__cart {
    margin: 0 100px
  }

  .basket {
    box-shadow: none
  }

  .cont__menu{
    top: 66.5px;
  }
}

@media (max-width: 1025px) {
  #logo__main {
    width: 150px;
    height: 230px
  }
}

@media (max-width: 960px) {
 
  .header .link_panel__header, .menu__wrapper {
    color: #174040;
    font-size: 16px;
    transition: all .5s
  }

  .text-contactus {
    margin: 30px 0
  }

  .thankh2 {
    letter-spacing: 7.2px
  }

  .header__menu__item {
    padding-left: 15px
  }

  .header__menu__item p {
    padding-left: 5px
  }

  .contact__info {
    justify-content: center
  }
}

@media (max-width: 850px) {
 
  .header .link_panel__header, .menu__wrapper {
    color: #174040;
    font-size: 16px;
    transition: all .5s
  }

  .container {
    width: 100%;
    margin: 0 auto
  }
}

@media (max-width: 800px) {
  .delivery__cart {
    margin: auto
  }

  #closeatt{
    display: none;
  }

 .attention__btn img{
    display: none;
  }

  .food {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center
  }

  .menu__shop {
    padding-top: 0
  }

  .shop__cart {
    padding: 0
  }

  .info__food {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%
  }

  .food__cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  .place__btn {
    display: none
  }

  .place__cart {
    display: flex;
    justify-content: center;
    padding: 30px 0
  }

  .deleted__order__med {
    display: inline
  }

  .deleted__order {
    display: none
  }

  .modifications__med {
    display: initial
  }

  .modifications {
    display: none
  }

  .basket {
    padding: 10px 15px
  }

  .place__btn {
    display: none
  }

  .place__order {
    justify-content: flex-end;
    border-top: none
  }

  .basket__name h2 {
    font-size: 16px
  }

  #total__cost__shop {
    display: none
  }
}

@media (max-width: 768px) {
  

  .additions {
    display: initial
  }

  #rest__menu {
    display: initial
  }

  .media__menu {
    background-color: #fff;
    display: inline
  }

  .header .link_panel__header__media {
    display: inline;
    color: #174040;
    margin-right: 25px
  }

  .header__menu__item {
    padding-left: 25px
  }

  .menu__header {
    margin-top: 10px
  }

  .header__menu__item p {
    display: none
  }

  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto
  }

  .header__menu, .header .lang_panel {
    display: none
  }

  .logo img {
    width: 135px;
    height: 34px
  }

  #rest__wrap {
    display: inline;
    padding-left: 15px
  }

  .name__content h4 {
    padding-top: 45px
  }


}

@media (max-width: 650px) {
  .btn_time__two, .btn_time__four {
    margin: auto;
    margin-bottom: 20px
  }

  #time{
    display: none;
  }

  #book{
   display: none;
  }

  .show__more {
    display: flex;
    justify-content: center;
    padding-bottom: 20px
  }

  .btn__smore {
    width: 160px;
    height: 45px;
    border-radius: 23px;
    border: 1px solid #c89650;
    background-color: #fff;
    color: #c89650;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 3.6px
  }

  .text_lk {
    margin-bottom: 40px
  }

  .pre__order {
    padding-top: 20px
  }

  .content-lk {
    padding-bottom: 40px
  }

  .thankh2 {
    letter-spacing: 4px
  }

  .aboutus__cont:first-child {
    padding-top: 40px
  }

  .aboutus__cont, .aboutus__cont_rev {
    padding: 0 15px 40px  15px
  }

  .about__title {
    padding-bottom: 10px
  }

  .delivery__cart {
    justify-content: center
  }

  textarea {
    height: 120px;
    padding: 10px 13px
  }

  .img__med {
    height: 320px
  }

  .text__cont {
    font-size: 2em;
    letter-spacing: 7.2px
  }

  .contactus {
    height: 130px;
    padding-top: 63px
  }

  .btn_tocart {
    width: 185px
  }

  .night__promo {
    display: flex;
    flex-direction: column;
    justify-content: center
  }

  .btn_book img, .btn_time img {
    display: none
  }

  .btn_book, .btn_info, .btn_time, .btn_filters {
    width: 150px
  }

  .search__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    padding: 0
  }

  .d2 input {
    width: 258px
  }

  .btn__container {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    flex-wrap: wrap;
    width: 320px;
    padding-bottom: 15px;
    justify-content: space-between
  }

  .btn__second {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    width: 320px;
    justify-content: space-between
  }

  .btn__rest button {
    margin: 0;
    padding: 0
  }

  .d2 {
    max-width: 320px;
    margin: auto
  }

  .btn_filters {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    background-color: #97403e;
    display: initial
  }

  .btn_book, .btn_filters {
    margin-right: 20px
  }

  .btn__media {
    margin: 20px 0;
    display: initial
  }

  #rest {
    width: 79%
  }

  #main__btn {
    flex-direction: column
  }

  #main__time {
    width: 320px;
    height: 55px;
    margin-bottom: 20px
  }

  #main_filters {
    width: 320px;
    height: 55px
  }

  #main__btn img {
    display: inline
  }

  .title_lk h4 {
    font-size: 30px;
    margin-bottom: 20px
  }

  .container__food {
    width: 170px
  }
}

@media (max-width: 600px) {
  .aboutus__title__img {
    height: 210px;
    width: 290px
  }

  .info__order_cont {
    flex-direction: column
  }

  .container__food {
    justify-content: initial
  }

  .arrow {
    display: none
  }

  .arrow__med {
    display: initial
  }
}

@media (max-width: 530px) {

  .img__med {
    height: 210px
  }

  .cont__menu{
    top: 47px;
  }

  .thankh2 {
    font-size: 2em
  }

  .header__main {
    height: 370px
  }

  .container__header {
    height: 50px;
    background-color: #fff
  }

  .menu__header {
    margin-top: 5px
  }

  .preorder__active {
    height: 285px!important
  }

  .accpreorder__active {
    padding: 60px 15px;
    max-width: 155px
  }

  .img__item {
    width: 155px;
    height: 100px
  }

  .item__info, .item__info__small {
    width: 155px;
    max-height: 120px;
    padding: 10px
  }

  #logo__main {
    width: 105px;
    height: 126px
  }

  .link_panel__header p {
    display: none
  }

  .header__media {
    width: 100%;
    height: 50px;
    background-color: #fff
  }

  .item__info p {
    display: none
  }

  #header__rest {
    height: 50px;
    background-color: #fff
  }

  .link_panel img {
    width: 28px;
    height: 28px
  }

  .header {
    line-height: 47px
  }

  .item__info h2, .item__info__small h2, .name__item h2 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 4.8px
  }

  .food__item {
    width: 155px;
    padding: 0;
    margin-bottom: 15px;
    margin: 5px
  }

  .item__info h3, .item__info__small h3 {
    font-size: 14px
  }

  .img__add, .btn_add {
    width: 31px;
    height: 31px
  }

  .item__info__small p {
    display: none
  }

  .item__info__small h2 {
    font-size: 14px
  }



  .toppings, .tips, .syde__dish {
    justify-content: initial
  }

  .news h2 {
    color: #174040;
    font-family: Ariq;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 7.2px
  }

  .all__news__item {
    padding: 0;
    max-width: 310px
  }

  .item_main_info {
    flex-direction: column;
    max-width: 155px;
    padding: 15px
  }

  .btn_timedelivery, .btn_timedelivery2 {
    width: 62px;
    height: 62px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 3.6px
  }

  .btn_delivery {
    padding: 18px 0 12px 0
  }

  .food_main_item img {
    width: 155px;
    height: 120px
  }

  .food_main_item {
    padding: 5px
  }

  .news__item {
    padding: 15px 0
  }

  .header .link_panel__header {
    margin-left: 10px
  }

  .accpreorder {
    max-width: 155px
  }

  .accpreorder__img img {
    width: 62px;
    height: 62px
  }

  .accpreorder__img {
    margin-bottom: 25px
  }

  .accpreorder__text h2 {
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 2.2px
  }
}

@media (max-width: 500px) {
  .total__cost {
    display: none
  }

  .total__cost__med {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0
  }

  .popup__name h2{
    font-size: 23px;
  }

  .popup__item{
    padding: 40px 20px;
  }
  .filters, .delivery, .add__address, .add__cart{
    padding: 7px 20px;
  }
}

@media (max-width: 460px) {
  .attention h2 {
    letter-spacing: 7.2px
  }

  .delivery_img {
    display: none
  }

  .img__media {
    height: 210px;
    display: block
  }

  .btn_close img {
    display: none;
    line-height: 17px
  }

  .btn_back img {
    display: none
  }

  .btn_back, .btn_close {
    line-height: 17px
  }

  .news__item {
    width: 280px;
    padding: 15px 0
  }

  #news__items3 {
    display: none
  }

  .filters, .delivery, .add__cart, .add__address {
    padding: 10px 20px;
    margin: auto;
    width: 85%
  }

  .cross__delivery {
    right: -10px
  }

  .text__cont {
    letter-spacing: 4.5px
  }

  .input_block .input__form {
    width: 280px
  }

  .form_auth {
    max-width: 280px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0
  }

  .content_block {
    padding-top: 30px
  }

  .code__check {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px
  }

  .btn_codecheck {
    padding: 0
  }

  #code {
    width: 280px;
    margin-bottom: 0
  }

  .accept_btn {
    justify-content: flex-start
  }

  .food__info {
    width: 100%;
    justify-content: flex-start;
    display: flex
  }
}

@media (max-width: 400px) {
  #cabinet {
    flex-direction: column
  }

  .total__cost {
    flex-direction: column
  }

  .input_block {
    width: 290px
  }

  .input_block .input__form {
    width: 290px
  }
}

@media (max-width: 360px) {
  .about__title {
    letter-spacing: 7.2px;
    font-size: 24px
  }

  .info__full__order {
    padding: 15px
  }

  .pre__order h4 {
    letter-spacing: 5px
  }
}
